@import url(./style.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1110px;
    margin: 0 auto;
    background-color: var(--white-color);
}

nav {
    font-size: var(--fs-24);
    text-transform: uppercase;
    margin: 20vh 0 10vh 0;
}

nav a {
    font-family: '8NeutralGrotesk';
    text-decoration: none;
    color: var(--lightgrey-color);
    margin-right: var(--fs-40);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.head-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.title {
    font-family: '7NeutralGrotesk';
    font-size: 100px;

    width: 100%;
    color: var(--dark-color);
    background: var(--black-to-white);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1, .5, .5, 5) 0.5s;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.subtitle {
    font-family: 'PPMondwest';
    font-style: italic;
    font-size: var(--fs-18);
    letter-spacing: 1px;
    color: var(--lightgrey3-color);
    margin: 16px 0 20vh 0;
}


.sections-container h2 {
    font-family: 'PPMondwest';
    font-style: italic;
    color: var(--darkblack-color);
    font-size: var(--fs-50);
    letter-spacing: -2px;
    text-align: left;
    margin: 16px 0 24px 24px;
}

.sections-container .product-list {
    text-align: center;
    margin: 10vh 0 10vh 0;
}

.sections-container .product-list li {
    font-family: 'MinionPro';
    font-weight: 800;
    list-style: none;
}

.divider {
    width: 15px;
    height: 15px;
    margin: 16px;
    background-color: var(--lightgrey2-color);
}

.main-footer {
    text-align: center;
    font-family: 'NaturalMono';
    font-size: var(--fs-14);
    margin: 24px 0 24px 0;
}

.main-container .back-button {
    text-decoration: none;
    font-family: 'NaturalMono';
    font-size: var(--fs-18);
    font-style: italic;
    color: var(--lightgrey3-color);
}

@media (max-width: 1100px) {

    h1,
    h2,
    ul,
    nav,
    .subtitle {
        padding: 0 10px;
    }
}