@import url(./style.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1110px;
    margin: 0 auto;
    background-color: var(--white-color);
}

/* NAVIGATION */
nav {
    display: flex;
    font-size: var(--fs-24);
    text-transform: uppercase;
    margin: 20vh 0 10vh 0;
    animation: slideOut 3s;
}

nav a {
    font-family: '8NeutralGrotesk';
    text-decoration: none;
    color: var(--lightgrey-color);
    margin-right: 35px;
}

.animated-links::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--lightgrey-color);

    transition: width .3s;
}

.animated-links:hover::after {
    width: 100%;

    transition: width .3s;
}

p {
    font-family: 'PPMondwest';
    font-style: italic;
    font-size: var(--fs-26);
    color: var(--darkblack-color);
    margin-left: 35px;
}

.head-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.title {
    font-family: '7NeutralGrotesk';
    font-size: var(--fs-100);

    width: 100%;
    color: var(--dark-color);
    background: var(--black-to-white);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1, .5, .5, 5) 0.5s;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.subtitle {
    font-family: 'NaturalMono';
    font-style: italic;
    font-size: var(--fs-24);
    letter-spacing: 1px;
    color: var(--lightgrey3-color);
    margin: 16px 0 20vh 0;
}

/* MAIN */
.main-container {
    width: 100%;
    margin: 0 auto;
}

.sections-container h2 {
    font-family: 'PPMondwest';
    font-style: italic;
    color: var(--darkblack-color);
    font-size: var(--fs-50);
    letter-spacing: -2px;
    text-align: left;
    margin: 16px 0 24px 24px;
}

.sections-container .img-1 {
    width: 100%;
    min-height: 450px;
    background-image: url(../assets/img/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    margin: 0 0 24px 0;
}

.sections-container .img-2 {
    width: 100%;
    min-height: 450px;
    background-image: url(../assets/img/2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    margin: 0 0 24px 0;
}

.sections-container .img-3 {
    width: 100%;
    min-height: 450px;
    background-image: url(../assets/img/3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    margin: 0 0 24px 0;
}

.sections-container .img-4 {
    width: 100%;
    min-height: 450px;
    background-image: url(../assets/img/4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    margin: 0 0 24px 0;
}

.list-content {
    font-family: 'NaturalMono';
    font-style: italic;
    margin: 24px 0 24px 85px;
}

.divider {
    width: 15px;
    height: 15px;
    margin: 16px;
    background-color: var(--lightgrey2-color);
}

.main-container .back-button {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'NaturalMono';
    font-size: var(--fs-18);
    font-style: italic;
    color: var(--lightgrey3-color);
}

/* FOOTER */
.footer-container {
    text-align: center;
    font-family: 'NaturalMono';
    font-size: var(--fs-14);
    margin: 24px 0 24px 0;
}


/* RESPONSIVE */
@media (max-width: 1100px) {

    h1,
    h2,
    ul,
    nav,
    .subtitle {
        padding: 0 10px;
    }

    .sections-container .img,
    .sections-container .img-2,
    .sections-container .img-3,
    .sections-container .img-4 {
        background-size: cover;
    }
}

/* ANIMATIONS */
@keyframes slideOut {
    from {
        margin-left: -100%;
        width: 300%;
    }

    to {
        margin-left: 0;
        width: 300%;
    }
}